@font-face {
  font-family: 'HongMenTi';
  src: url('./assets/fonts/HongMenTi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'HongMengTi', sans-serif;
}